.grid {
    width: 80vw;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.grid .fiap-logo {
    position: absolute;
    width: 200px;
    height: auto;
    top: -30px;
    left: calc(50% - 200px);
}

.players div {
    display: flex;
    align-items: center;
    gap: 5vh;
}

.player-text {
    display: block !important;
    text-align: left;
}

.player-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1vh;
}

.player-text p {
    font-size: 1.3rem;
    margin-top: 1vh;
}

/* .players div img {
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    border-radius: 50%;
} */

.player-container {
    position: relative;
    width: 25vh;  /* Adjust based on your mask size */
    height: auto; /* Adjust based on your mask size */
}

.player-photo {
    position: absolute;
    top: 44%;  /* Adjust these to align the face correctly within the mask */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15vh;  /* Ensure the photo covers the mask area */
    height: 15vh;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
}

.astronaut-mask {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.sort-reel {
    border: 1px solid #e3135c;
    padding: 0 40px 25px 40px;
    text-align: left;
    position: relative;
}

.sort-reel .timer-controls {
    text-align: left;
}

.timer-controls p {
    font-size: 5rem;
    margin: 0;
    font-weight: bold;
    color: #29f4d5;
    position: absolute;
    top: 0;
    right: 25px;
}

.sort-reel ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.sort-reel ul li {
    font-size: 20px;
    margin-bottom: 4px;
    text-align: left;
}

.btn-sortear {
    margin-bottom: 5px;
}