.grid {
    width: 80vw;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    position: relative;
}

.players div {
    display: flex;
    align-items: center;
    gap: 5vh;
}

.player-text {
    display: block !important;
    text-align: left;
}

.player-text h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    line-height: 2rem;
}

.player-text p {
    font-size: 1.3rem;
    margin-top: 0;
}

/* .players div img {
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    border-radius: 50%;
} */

.player-container {
    position: relative;
    width: 30vh;  /* Adjust based on your mask size */
    height: auto; /* Adjust based on your mask size */
}

.player-photo {
    position: absolute;
    top: 44%;  /* Adjust these to align the face correctly within the mask */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vh;  /* Ensure the photo covers the mask area */
    height: 20vh;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
}

.astronaut-mask {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.sort-reel {
    border: 1px solid #e3135c;
    
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 40px 25px 40px;
    text-align: left;
    position: relative;
}

.fiap-logo {
    width: 170px;
    height: auto;
    position: absolute;
    left: 2vh;
}

.sort-reel .timer-controls {
    text-align: left;
    width: 100%;
}

.timer-controls p {
    font-size: 4rem;
    margin: 0;
    font-weight: bold;
    color: #29f4d5;
    position: absolute;
    top: 0;
    right: 25px;
}

.sort-reel h2 {
    font-size: 2rem;
    margin: 0;
    margin-top: 2vh;
}

.sort-reel ul {
    list-style: none;
    padding: 0;
    margin: 13vh 0 4vh 0;
}

.sort-reel ul li {
    font-size: 1.15rem;
    margin-bottom: 4px;
    text-align: center;
}

.botoes-controle .btn-sortear {
    background-color: #e3135c;
    border-top-left-radius: 20px;
}

.botoes-controle {
    display: flex;
}

.botoes-controle button {
    margin: 0;
    background-color: #1a1a1a;
    border-radius: 0;
    border: none;
}

.botoes-controle .btn-stop {
    border-bottom-right-radius: 20px;
}

.botoes-controle button:hover {
    border: none;
}

.timer-controls--div button {
    width: 50%;
}

.timer-controls--div button:first-child {
    width: 100%;
}

.btn-voltar {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
}

.img-cube {
    position: absolute;
    left: 10px;
    bottom: 0vh;
    width: 220px;
}

.img-ball {
    position: absolute;
    left: 50px;
    top: 10vh;
    width: 20px;
}

.img-circle {
    position: absolute;
    right: 50px;
    bottom: 10vh;
    width: 50px;
}

.img-cone {
    position: absolute;
    right: 100px;
    top: 10vh;
    width: 40px;
}

.img-cylinder {
    position: absolute;
    right: 150px;
    top: 40vh;
    width: 100px;
}

.img-square {
    position: absolute;
    left: 80px;
    top: 40vh;
    width: 50px;
}

.img-triangle-fill {
    position: absolute;
    left: 50%;
    top: 60vh;
    width: 30px;
}